### Q1

Name the four built-in data structures in python. Give one examples for each
LIST numbers_list = [1,2,3,4,5]
SET list_numbers = [1,23,3,3,4,5,2,1]
DICTIONARY shop = {"pencil": 25, "eraser": 15, "ruler":5}
TUPLE L = [3,4,6,7]

### Q2

State two differences between a list and a tuple in Python.
TUPLE IS IMMUTABLE AND ORGANIZED. LISTS ARE MUTABLE AND ORGANIZED

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:

- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?

- Create a variable animal_set which stores the set of animal_list 

- How many elements are in the animal_set?

In [3]:
animal_list = ["cow","cat","goat","lion","sheep"]
animal_list

['cow', 'cat', 'goat', 'lion', 'sheep']

In [25]:
animal_list[0],animal_list[1]

('cow', 'cat')

In [4]:
animal_list[-1],animal_list[-2]

('sheep', 'lion')

In [34]:
animal_list.extend(("horse","bull","hyena"))

In [35]:
animal_list

['cow',
 'cat',
 'goat',
 'lion',
 'sheep',
 'horse',
 'horse',
 'horse',
 'bull',
 'hyena']

In [38]:
animal_list.remove(("cow","cat"))

ValueError: list.remove(x): x not in list

In [7]:
len(animal_list)

5

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [39]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [49]:
type(suitcase)

list

In [56]:
first = suitcase[0],suitcase[1],
first

('sunglasses', 'hat')

In [59]:
middle = suitcase[2],suitcase[3]
middle

('passport', 'laptop')

In [61]:
last = suitcase[2],suitcase[3]
last

('passport', 'laptop')

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]
insert(3,35)`

In [8]:
values = [20,25,30,40,45,50,55,60,65,70]
insert(3,35)

NameError: name 'insert' is not defined

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?
YOU USE A TUPLE WHEN THE DATA WONT BE CHANGED

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`



- Print out the keys of region_capital


- Print out the values of region_capital
region_capital.values()

In [9]:
region_capital = {"upper west" : "wa", "upper east" : "bolga","volta" : "ho","ahafo": "sunyani","ashanti": "kumasi"}

In [10]:
region_capital

{'upper west': 'wa',
 'upper east': 'bolga',
 'volta': 'ho',
 'ahafo': 'sunyani',
 'ashanti': 'kumasi'}

In [11]:
region_capital.keys()

dict_keys(['upper west', 'upper east', 'volta', 'ahafo', 'ashanti'])

In [12]:
region_capital.values()

dict_values(['wa', 'bolga', 'ho', 'sunyani', 'kumasi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?

- What is the highest occuring number in the values variable?


- Convert values into a set and store it into a variable named `values_set`


- How many elements are in the variable values_set?
len(values)

In [13]:
values = [3,4,5,6,3,3,4,3,5,2,4,2,5,6,1,6]

In [18]:
print(sum(values))

59

In [20]:
print(max(values))

6

In [22]:
values_set = set(values)

In [23]:
type(values_set)

set

In [19]:
len(values)

15

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [53]:
dicts = {}
for j in range(1,16):
    dicts[j] = j**2
      dicts

IndentationError: unexpected indent (4095880129.py, line 4)

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [1]:
keys = [x,y,z]
diction = {}
for key in keys
 if key =='x'
    diction[key] = list(range(11,21))
elif key == 'y'
    diction[key] = list(range(21,30))
elif key== 'z'
    diction[key] = list(range(31,40))
for key in keys:
print(f"{key} : {diction[key][4]}")